.thefile {
    height: 90px;
}

.board {
    transition: transform 2s;
    position: relative;
}

.rotate {
    transform: rotateZ(180deg);
}

.result-notify {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media screen and (min-width: 1750px) {
    .thefile {
        height: 110px;
    }

    .square {
        width: 110px;
    }
}

@media (max-width: 1749px) and (min-width: 1600px) {
    .thefile {
        height: 95px;
    }

    .square {
        width: 95px;
    }
}

@media screen and (max-width: 1400px) {
    .thefile {
        height: 80px;
    }

    .square {
        width: 80px;
    }
}