.img-intro {
    height: 400px;
    background-image: url('./images/homeBackground5.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px;
    margin: 25px 0
}

.intro-title {
    box-shadow:
    0 20.8px 5.4px -24px rgba(0, 0, 0, 0.076),
    0 35.4px 14.3px -24px rgba(0, 0, 0, 0.092),
    0 45.1px 28.4px -24px rgba(0, 0, 0, 0.091),
    0 52.1px 51.9px -24px rgba(0, 0, 0, 0.086),
    0 61.3px 94.5px -24px rgba(0, 0, 0, 0.078),
    0 100px 174px -24px rgba(0, 0, 0, 0.07)
  ;
    border-bottom: 1px solid #ffffff3a;
    border-right: 1px solid #ffffff3a;
    border-left: 1px solid #ffffff67;
    border-top: 1px solid #ffffff67;
    border-radius: 10px;
    background: #ffffff21;
    width: 40%;
    height: 100%;
    padding: 40px
}

.img-intro h1 {
    font-weight: 600;
    font-size: 80px;
    color: #404f63;
    margin: 0
}

.img-intro p {
    margin-left: 10px;
    font-size: 22px;
    opacity: .7;
}

.home {
    width: 100%
}

.intro-button {
    width: 50%;
    border: none;
    background: #5b78e2;
    color: white;
    height: 50px;
    box-shadow: 0 3px 7px 0px rgb(0 8 5 / 12%);
    border-radius: 90px;
    margin-bottom: 20px;
}

.main-option, .friend, .history-home, .contact {
    box-shadow: 0 3px 7px 0px rgb(0 8 5 / 5%);
    width: 100%;
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 25px
}

.main-option h5, .history-home h5, .contact h5 {
    margin-bottom: 25px;
}

.option-main {
    margin: 15px 0;
}

.an-option {
    text-align: center;
    border: 1px solid #dedede;
    border-radius: 10px;
    padding-top: 20px;
}

.an-option img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

.an-option p{
    font-weight: 600;
    font-size: 21px;
    color: #404f63;
}

.an-option a{
    text-decoration: none;
}

.friend h5 {
    margin-bottom: 25px;
    color: black
}

.friend-avt {
    margin-bottom: 25px
}

.friend-info {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.friend-number {
    margin: 0 10px 0 0;
    opacity: .4;
}

.friend-info span {
    opacity: .5;
    font-size: 13px;
}

.friend-name {
    margin: 0;
}

.friend-info p, .friend-info span {
    color: black;
}

.friend-number {
    width: 18px;
}

.friend-avtimg {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 7px;
    margin-right: 10px;
}

.table-history thead{
    color: #405062;
    background: #e8ecef;
}

.table-history tr{
    height: 44px;
}

.table>:not(caption)>*>* {
    border-bottom-width: 0px !important;
    vertical-align: middle !important;
}

.game-result {
    padding: 3px;
    color: #0000009c;
    border-radius: 5px;
    font-size: 12px;
    width: 25px;
    text-align: center;
    margin: auto 0;
}

.win {
    background: #dcf7e9;
}

.lose {
    background: #fee1e1;
}

.contact img{
    width: 20px;
    margin-right: 10px;
    opacity: .7;
}

@media (min-width: 1280px) and (max-width: 1380px) {
    .navigation {
        padding: 30px 10px 30px 10px !important;
    }
    
    .navigation span {
        font-size: 15px;
    }

    .intro-title {
        width: 50%;
    }

    .img-intro h1 {
        font-size: 70px;
    }
}

@media (min-width: 1381px) and (max-width: 1560px) {
    .navigation {
        padding: 30px 10px 30px 10px !important;
    }

    .intro-title {
        width: 45%;
    }

    .img-intro h1 {
        font-size: 70px;
    }
}

@media (min-width: 1650px) and (max-width: 1920px) {
    .an-option img {
        width: 150px;
        height: 150px;
    }
}